# Crea un archivo con la extensión .env, y dentro de este
# pegaras todas las variables de entorno que usaremos
# por ejemplo:

DB_HOST=localhost
DB_PORT=5432
DB_NAME=agrosystem_db
DB_USER=postgres
DB_PASS=tu_contraseña
DB_DIALECT=postgres