<!-- TopNavBar Shell -->
<header
    class="fixed top-0 right-0 w-[calc(100%-16rem)] h-16 z-40 bg-white/80 dark:bg-zinc-950/80 backdrop-blur-md flex items-center justify-between px-8 font-manrope font-medium text-sm border-b border-surface-container-low">
    <div class="flex items-center gap-4 bg-surface-container-low px-4 py-2 rounded-full w-96">
        <span class="material-symbols-outlined text-on-surface-variant" data-icon="search" style="">search</span>
        <input class="bg-transparent border-none focus:ring-0 text-sm w-full placeholder:text-on-surface-variant"
            placeholder="Buscar reportes, usuarios o registros..." type="text">
    </div>
    <div class="flex items-center gap-6">
        <div class="flex items-center gap-4 pr-6 border-r border-surface-container">
            <button
                class="relative text-on-surface-variant hover:text-primary transition-colors cursor-pointer active:scale-95"
                style="">
                <span class="material-symbols-outlined" data-icon="notifications" style="">notifications</span>
                <span class="absolute top-0 right-0 w-2 h-2 bg-error rounded-full"></span>
            </button>
            <button class="text-on-surface-variant hover:text-primary transition-colors cursor-pointer active:scale-95"
                style="">
                <span class="material-symbols-outlined" data-icon="settings" style="">settings</span>
            </button>
        </div>
        <div class="flex items-center gap-3 cursor-pointer hover:opacity-80 transition-opacity">
            <div class="text-right hidden sm:block">
                <p class="text-xs font-bold text-on-surface leading-tight" style="">Admin Principal</p>
                <p class="text-[10px] text-on-surface-variant leading-tight" style="">admin@agrosystem.com</p>
            </div>
            <img alt="Admin portrait" class="w-9 h-9 rounded-full object-cover ring-2 ring-primary/10"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuAPvW4iyaM8rvHnpdY9DCPtq8mC8ZWNuW0f8t1gyLQffNrcRIL51yAviHIVAyDpLsYcn9obBom9FK-_sWXFjbpGic7tBQjNfOkLmeNuaqctSEhHW9hWKX5QIEEAexyF6s5slDg7FI-riN_pYCIGTKLuNNJaJ-ZKOlaVs0Am11-KfYvPmk1N5t2rmH_hP2iiZ06Q7a8Fb3GA-Qi5hDhq022R93qerB5MLKdOQE-sQPVI-wgbMrkg5_7jllECmjNJxGLhkcDeSBf-YWXV"
                style="">
        </div>
    </div>
</header>