<!-- SideNavBar Shell -->
<aside
    class="h-screen w-64 fixed left-0 top-0 border-r-0 bg-white dark:bg-zinc-950 flex flex-col p-6 gap-2 font-manrope antialiased tracking-tight z-50">
    <div class="flex items-center gap-3 mb-8">
        <div class="w-10 h-10 rounded-lg bg-primary flex items-center justify-center">
            <span class="material-symbols-outlined text-on-primary" data-icon="agriculture" style="">agriculture</span>
        </div>
        <div>
            <h1 class="text-xl font-extrabold text-[#0F2E2E] dark:text-emerald-500 leading-none" style="">INIFAP</h1>
            <p class="text-[10px] uppercase tracking-widest text-on-surface-variant font-bold mt-1" style="">
            <div>rol:aDMIN</div>
            </p>
        </div>
    </div>
    <nav class="flex flex-col gap-1">
        <a class="flex items-center gap-3 px-4 py-3 mb-2 text-[#0F2E2E] dark:text-emerald-400 hover:bg-[#f9f9f9] dark:hover:bg-zinc-900 rounded-lg transition-all scale-98 active:opacity-80 border border-[#0F2E2E]/10"
            href="/" style="">
            <span class="material-symbols-outlined" data-icon="public" style="">public</span>
            <span class="font-bold text-sm" style="">Volver al sitio público</span>
        </a>
        <a class="flex items-center gap-3 px-4 py-3 bg-[#ebeeef] dark:bg-zinc-800 text-[#0F2E2E] dark:text-emerald-400 rounded-lg font-bold scale-98 active:opacity-80 transition-transform"
            href="/dashboard" style="">
            <span class="material-symbols-outlined" data-icon="dashboard" style="">dashboard</span>
            <span class="" style="">Dashboard</span>
        </a>
        <a class="flex items-center gap-3 px-4 py-3 text-[#596061] dark:text-zinc-400 hover:bg-[#f9f9f9] dark:hover:bg-zinc-900 rounded-lg transition-colors scale-98 active:opacity-80 transition-transform"
            href="#" style="">
            <span class="material-symbols-outlined" data-icon="bug_report" style="">bug_report</span>
            <span class="" style="">Plagas</span>
        </a>
        <a class="flex items-center gap-3 px-4 py-3 text-[#596061] dark:text-zinc-400 hover:bg-[#f9f9f9] dark:hover:bg-zinc-900 rounded-lg transition-colors scale-98 active:opacity-80 transition-transform"
            href="#" style="">
            <span class="material-symbols-outlined" data-icon="agriculture" style="">agriculture</span>
            <span class="" style="">Cultivos</span>
        </a><a
            class="flex items-center gap-3 px-4 py-3 text-[#596061] dark:text-zinc-400 hover:bg-[#f9f9f9] dark:hover:bg-zinc-900 rounded-lg transition-colors scale-98 active:opacity-80 transition-transform"
            href="#" style="">
            <span class="material-symbols-outlined" data-icon="landscape" style="">landscape</span>
            <span class="" style="">Gestión de Terrenos</span>
        </a>
        <a class="flex items-center gap-3 px-4 py-3 text-[#596061] dark:text-zinc-400 hover:bg-[#f9f9f9] dark:hover:bg-zinc-900 rounded-lg transition-colors scale-98 active:opacity-80 transition-transform"
            href="#" style="">
            <span class="material-symbols-outlined" data-icon="inventory_2" style="">inventory_2</span>
            <span class="" style="">Productos</span>
        </a>
        <a class="flex items-center gap-3 px-4 py-3 text-[#596061] dark:text-zinc-400 hover:bg-[#f9f9f9] dark:hover:bg-zinc-900 rounded-lg transition-colors scale-98 active:opacity-80 transition-transform"
            href="#" style="">
            <span class="material-symbols-outlined" data-icon="person" style="">person</span>
            <span class="" style="">Usuario</span>
        </a>
        <a class="flex items-center gap-3 px-4 py-3 text-[#596061] dark:text-zinc-400 hover:bg-[#f9f9f9] dark:hover:bg-zinc-900 rounded-lg transition-colors scale-98 active:opacity-80 transition-transform"
            href="#" style="">
            <span class="material-symbols-outlined" data-icon="forum" style="">forum</span>
            <span class="" style="">Foro</span>
        </a>
        <button
            class="mt-auto flex items-center gap-3 px-4 py-3 text-[#596061] dark:text-zinc-400 hover:bg-[#f9f9f9] dark:hover:bg-zinc-900 rounded-lg transition-all scale-98 active:opacity-80"
            style="">
            <span class="material-symbols-outlined" data-icon="side_navigation" style="">side_navigation</span>
            <span class="font-bold text-sm" style="">Ocultar sidebar</span>
        </button>
    </nav>
</aside>