<!-- TopNavBar -->
<nav class="bg-white/80 backdrop-blur-md fixed top-0 w-full z-50 shadow-[0_20px_40px_rgba(45,52,53,0.06)]">
    <div
        class="flex justify-between items-center px-10 py-4 max-w-[1440px] mx-auto font-['Manrope'] tracking-tight antialiased">
        <div class="flex items-center gap-12">
            <span class="text-xl font-bold text-[#43655c] tracking-tighter">Agrosystem INIFAP</span>
            <div class="hidden md:flex items-center gap-8">
                <a class="text-[#43655c] font-bold border-b-2 border-[#43655c] pb-1" href="#">Inicio</a>
                <a class="text-[#596061] font-medium hover:text-[#43655c] transition-colors duration-200"
                    href="#">Plagas</a>
                <a class="text-[#596061] font-medium hover:text-[#43655c] transition-colors duration-200"
                    href="#">Cultivos</a>
                <a class="text-[#596061] font-medium hover:text-[#43655c] transition-colors duration-200"
                    href="#">Productos</a>
                <a class="text-[#596061] font-medium hover:text-[#43655c] transition-colors duration-200"
                    href="#">Foro</a>
                <a class="text-[#596061] font-medium hover:text-[#43655c] transition-colors duration-200"
                    href="#">Gestión de Parcelas</a>
            </div>
        </div>
        <div class="flex items-center gap-4">
            <button class="p-2 text-on-surface-variant hover:bg-surface-container-low rounded-full transition-all">
                <span class="material-symbols-outlined">notifications</span>
            </button>
            <div class="h-8 w-[1px] bg-outline-variant/30 mx-1"></div>
            <div class="flex items-center gap-3 pl-2">
                <div class="text-right hidden sm:block">
                    <p class="text-xs font-bold text-on-surface leading-none">Carlos Mendoza</p>
                    <p class="text-[10px] text-on-surface-variant">Miembro de Comunidad</p>
                </div>
                <img alt="User profile avatar" class="w-10 h-10 rounded-full object-cover ring-2 ring-primary-container"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuClV2TYNfMbr-_mxPzgsf5EzPkyi0D7T3CnM8cXJWQ34gho5d6rep7L40Vb6PQV1t_k7U4BZG_BEkEqGLQbBPvLQOZGGgTohB9IT4aJ0vU-rTumg-egAF8NQmG1Vk_ErAy_ndzUh8chG6Lo7xi39hDrU6rjWKiKUCv-dFjjrdUSC-GwUftqNcb2zk_Ys_yiu_xOHhuuPK1xxhRecPnWHBCr65oASIIAftSf8L7G3GOfmCWPZlu-HSN-NT-_tySN3oGBqWDktZjFmLU-" />
            </div>
        </div>
    </div>
    <div class="bg-[#f2f4f4] h-[1px] w-full"></div>
</nav>