<!DOCTYPE html>
<html class="light" lang="es">

{{> head-tokens}}

<body class="bg-surface text-on-surface">

  {{> navbar-public}}

  <main id="main-content">
    {{{body}}}
  </main>

  {{> footer-public}}

  <script src="/js/main.js"></script>
  {{#if extraScripts}}{{{extraScripts}}}{{/if}}
</body>

</html>